.contacto{
    .titulocontacto{
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: #6d0611;
    }
    .infocontacto{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
        padding-bottom: 0rem;
    }
}

.formulario{
    background-color: black;
    padding: 2rem;
}