.historia{
    .titulohistoria{
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: #6d0611;
    }
}

.infohistoria{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}