.introduccion{
    .titulo{
        text-align: center;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: #6d0611;
    }
    .subtitulo{
        text-align: center;
        background-color: #6d0611;
    }
    .intro{
        padding: 2rem;
        padding-top: 1rem;
    }
    .carrusel1{
        color: #212529;
        background-color: #fff;
    }
}