.sobre378{
    .titulosobre378{
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: #6d0611;
    }
    .infosobre378km{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}